/*
    Main css file
    Created on : Oct 22, 2015, 12:42:06 AM
    Author     : Martijn
*/
.content {
    
    margin-top:6em;
}
.top_menu li{
    display:inline-block;
    background-color: orange;
    list-style-type: none;
    margin-right:1em;
    padding:.2em;
    
}

.top_menu li a{
    font-size:125%;
    text-decoration:none;
    
    
}
.top_menu li a:link {
    background-color: #B2FF99;
}

.top_menu li a:visited {
    background-color: #FFFF85;
}

.top_menu li a:hover {
    background-color: #FF704D;
}

a:active {
    background-color: #FF704D;
} 

.sollicitaties td {
    
    padding-right:2em;
}